/*noinspection ALL*/
.cardWrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 50px;

    width: 23%;
    min-width: 600px;
    height: 400px;
    max-height: 400px;

    background: linear-gradient(45deg, rgb(0, 0, 0) 1%, var(--color));
}

.cardWrapper h1, .cardWrapper p, .cardWrapper button {
    filter: opacity(0);
    transition: all 0.3s ease 0s;
    left: 100px;

    position: relative;
}

.cardWrapper img {
    position: absolute;
    bottom: 0;

    right: 50%;
    transform: translateX(50%);

    height: 400px;

    transition: all 0.3s ease 0s;
    user-select: none;
    z-index: 90;
}
.cardWrapper:hover img {
    transform: translateX(90%);

    height: 500px;
}

.cardWrapper:hover h1, .cardWrapper:hover p, .cardWrapper:hover button {
    filter: opacity(1);
    left: 0;
}
.cardWrapper button {
    border-radius: 3px;
    min-width: 100px;
    width: 100px;
    min-height: 35px;
    height: 35px;
    outline: none;
    border: none;

    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
}
.cardWrapper p {
    font-size: 12px;
    color: white;
}
.cardWrapper h1 {
    font-size: 34px;
    color: white;
    font-weight: bold;
}

.content {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 20px;
}