.header {
    position: fixed;

    width: 100%;
    min-width: fit-content;
    height: 50px;

    background: var(--color);

    transition: all 0.3s ease 0s;
    z-index: 9999;

    user-select: none;
}
.container {
    margin: 0 auto;
    max-width: var(--content-width);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

}
.show {
    transform: translateY(0);
}
.hide {
    transform: translateY(-100%);
}

.header h1 {
    white-space: nowrap;
    color: var(--red);
    font-size: 26px;
    cursor: pointer;
}

.header a {
    min-width: fit-content;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.roundWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 10px;

    min-width: 90px;
    width: 90px;
    min-height: 90px;
    height: 90px;
}

.roundWrapper img {
    height: 80%;
    object-fit: cover;
    user-select: none;
}

.expander {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 40px;

    background: var(--color);
    border: 1px solid var(--font-color);
    border-radius: 30px;

    cursor: pointer;
    user-select: none;

    filter: opacity(0.1);
    transition: all 0.3s ease 0s;
}
.expander:hover {
    filter: opacity(1);
}
.rotate span {
    transform: scale(1.2) rotate(180deg) !important;
}
.expander span {
    transform: scale(1.2);

    transition: all 0.3s ease 0s;
    color: var(--font-color);
}


@media (max-width: 850px) {
    .header h1 {
        display: none;
    }
}