.header {
    margin-left: 50%;
    transform: translateX(-50%);

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    gap: 10px;

    width: 50%;
    min-width: fit-content;
    height: 50px;

    background: var(--color);
    border-radius: 0 0 30px 30px;

    transition: all 0.3s ease 0s;
    z-index: 9999;
}
.show {
    transform: translateX(-50%) translateY(0);
}
.hide {
    transform: translateX(-50%) translateY(calc(-100% - 30px));
}

.header a {
    min-width: fit-content;
    font-size: calc(11px + 0.15vw);
    font-weight: 600;
}

.roundWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 10px;

    min-width: 90px;
    width: 90px;
    min-height: 90px;
    height: 90px;

    border-radius: 50%;

    background: var(--color);
}

.roundWrapper img {
    height: 80%;
    object-fit: cover;
    user-select: none;
}

.expander {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 40px;

    background: var(--color);
    border-radius: 30px;

    cursor: pointer;
    user-select: none;

    filter: opacity(0.1);
    transition: all 0.3s ease 0s;
}
.expander:hover {
    filter: opacity(1);
}
.rotate span {
    transform: scale(1.2) rotate(180deg) !important;
}
.expander span {
    transform: scale(1.2);

    transition: all 0.3s ease 0s;
}