.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 70px 20px 20px 20px;

    width: 100%;
    height: 100%;
}

.videoWrapper {
    display: flex;
    position: relative;

    margin-top: 0;

    width: 670px;
    height: 400px;

    transition: all 0.3s ease 0s;
}

.video {
    min-width: 620px;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.fullScreen {
    margin-top: -50px;

    width: 95%;
    min-height: 95vh;
}

.fullScreenButton {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
}
.fullScreenButton > span {
    color: var(--font-color);

    cursor: pointer;
    transform: scale(1.3);
    filter: opacity(0.4);

    transition: all 0.3s ease 0s;
}
.fullScreenButton > span:hover {
    transform: scale(1.5);
    filter: opacity(1);
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95%;
    height: fit-content;
}

.descriptionWrapper img {
    height: 80px;
}

.descriptionWrapper hr {
    width: 90%;
    margin: 20px 0;
    border: 1px solid var(--font-color)
}

.descriptionWrapper p {
    color: var(--font-color);
}

@media (max-width: 850px) {
    .videoWrapper {
        width: 85vw;
        min-height: 400px;
        transition: unset;
    }

    .fullScreenButton {
        display: none;
    }

    .video {
        min-width: unset;
    }
}