.wrapper {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper > * {
    position: absolute;

    transition: all 0.2s ease 0s;
    cursor: pointer;

    color: var(--font-color);
}
.wrapper > *:hover {
    transform: scale(1.2);
}

.hide {
    pointer-events: none;

    filter: opacity(0);
}

@media (max-width: 850px) {
    .wrapper {
        display: none;
    }
}