@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, img, button, span {
    user-select: none;
}

#root {
    --content-width: 1000px;
    --light-black: rgba(0,0,0,1);
    --red: #ec1c26;
}

#root[data-theme="light"] {
    --background:  white;
    --color: #edf1f4;
    --font-color: black;
    --border: 1px solid rgba(0,0,0,0.1)
}

#root[data-theme="dark"] {
    --background: black;
    --color: #16161a;
    --font-color: white;
    --border: 1px solid rgba(255,255,255,0.1)
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    min-width: 700px;
    min-height: fit-content;

    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--background);
}

::-webkit-scrollbar {
    width: 10px;

    background: var(--background);
}
::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 10px;
    border: 2px solid var(--background)
}

@media (max-width: 700px) {
    .wrapper {
        min-width: 200px;
    }
}